<%= form_with(model: motion_datum, local: true) do |form| %>
  <% if motion_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(motion_datum.errors.count, "error") %> prohibited this motion_datum from being saved:</h2>

      <ul>
        <% motion_datum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :accuracy %>
    <%= form.text_field :accuracy %>
  </div>

  <div class="field">
    <%= form.label :altitude %>
    <%= form.text_field :altitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :timestamp %>
    <%= form.text_field :timestamp %>
  </div>

  <div class="field">
    <%= form.label :trackedObjectId %>
    <%= form.text_field :trackedObjectId %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
