<p id="notice"><%= notice %></p>

<h1>Motion Data</h1>

<table>
  <thead>
    <tr>
      <th>Accuracy</th>
      <th>Altitude</th>
      <th>Longitude</th>
      <th>Timestamp</th>
      <th>Trackedobjectid</th>
      <th>Latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motion_data.each do |motion_datum| %>
      <tr>
        <td><%= motion_datum.accuracy %></td>
        <td><%= motion_datum.altitude %></td>
        <td><%= motion_datum.longitude %></td>
        <td><%= motion_datum.timestamp %></td>
        <td><%= motion_datum.trackedObjectId %></td>
        <td><%= motion_datum.latitude %></td>
        <td><%= link_to 'Show', motion_datum %></td>
        <td><%= link_to 'Edit', edit_motion_datum_path(motion_datum) %></td>
        <td><%= link_to 'Destroy', motion_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motion Datum', new_motion_datum_path %>
