<p id="notice"><%= notice %></p>

<p>
  <strong>Accuracy:</strong>
  <%= @motion_datum.accuracy %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @motion_datum.altitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @motion_datum.longitude %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @motion_datum.timestamp %>
</p>

<p>
  <strong>Trackedobjectid:</strong>
  <%= @motion_datum.trackedObjectId %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @motion_datum.latitude %>
</p>

<%= link_to 'Edit', edit_motion_datum_path(@motion_datum) %> |
<%= link_to 'Back', motion_data_path %>
