<%= form_with(model: config, local: true) do |form| %>
  <% if config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
        <% config.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :positionIntervalInMinutes %>
    <%= form.text_field :positionIntervalInMinutes %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token %>
  </div>

  <div class="field">
    <%= form.label :trackedObjectId %>
    <%= form.text_field :trackedObjectId %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
