<p id="notice"><%= notice %></p>

<p>
  <strong>Positionintervalinminutes:</strong>
  <%= @config.positionIntervalInMinutes %>
</p>

<p>
  <strong>Token:</strong>
  <%= @config.token %>
</p>

<p>
  <strong>Trackedobjectid:</strong>
  <%= @config.trackedObjectId %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
